<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8" />
	<title></title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>

<body>
	<div class="container">
		<h1>BIBLIOTECA</h1>
		<h3>Mi Perfil</h3>
		<!-- Incluir el fragmento de menú adecuado según el rol del usuario -->
		<div th:if="${session.usuario == null}">
			<!-- Menú por defecto para usuarios no logeados -->
			<div th:insert="~{fragments :: menu-por-defecto}"></div>
		</div>
		<div th:if="${session.usuario != null}">
			<div th:if="${session.usuario.esAdmin}">
				<div th:insert="~{fragments :: menu-admin}"></div>
			</div>
			<div th:if="${!session.usuario.esAdmin}">
				<div th:insert="~{fragments :: menu-usuario}"></div>
			</div>
		</div>
	</div>
	<div class="container mt-5">
		<div class="row justify-content-center">
			<div class="col-md-8">
				<div class="card">
					<div class="card-header">
						<h3 class="text-center">Mi Perfil</h3>
					</div>
					<div class="card-body">
						<div class="row">
							<div class="col-md-6">
								<h5>Nombre:</h5>
								<p th:text="${usuario.nombre}"></p>
							</div>
							<div class="col-md-6">
								<h5>Apellidos:</h5>
								<p th:text="${usuario.apellidos}"></p>
							</div>
							<div class="col-md-6">
								<h5>Username:</h5>
								<p th:text="${usuario.username}"></p>
							</div>
							<div class="col-md-6">
								<h5>Email:</h5>
								<p th:text="${usuario.email}"></p>
							</div>
							<div class="col-md-6">
								<h5>Fecha de Registro:</h5>
								<p th:text="${usuario.fechaRegistro}"></p>
							</div>
							<!-- Puedes agregar más campos según sea necesario -->
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>

</html>